@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Alfa Slab One", cursive;
}
body {
  color: white;
  background: linear-gradient(#4cb8f1, #3ef3e6);
  min-height: 100vh;
  width: 100vw;
}
.App {
  text-align: center;
}
