@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
header {
  background: linear-gradient(#e66465, #9198e5);
  padding: 15px;
  font-family: "Alfa Slab One", cursive;
}
