@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&display=swap");
header {
  padding: 5%;
  font-size: 40px;
  font-weight: 400;
}

.glow {
  font-family: "Anton", sans-serif;
  color: rgb(249, 234, 234);
}
