.healthy-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
h1 {
  color: #666;
}

.fruit {
  color: white;
  background-color: rgb(250, 148, 15);
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}
h3 {
  font-size: 30px;
}

.fruit:hover {
  opacity: 0.6;
}

.fruit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
