.outer-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr;
}

.healthy-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.healthy-container > div {
  box-shadow: 3px 3px 3px rgb(96, 81, 81);
}
h1 {
  color: #666;
}
.health {
  padding: 1% 3% 0 3%;
}

.fruit {
  color: white;
  padding: 5px;
  background-color: #fa9500;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}
h3 {
  font-size: 30px;
}

.fruit:hover {
  opacity: 0.6;
}

.fruit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
input {
  padding: 15px;
  border-radius: 15px;
}
button {
  padding: 15px;
  border-radius: 15px;
}
